#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use HTTP installation media
url --url http://yum.steamworks.local/centos/7/os/x86_64/

# Use text install
text

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=on --ipv6=no --no-activate
network  --hostname=centos7.local

#Root password
rootpw --lock

# System services
services --disabled="chronyd"

# System timezone
timezone America/Los_Angeles --isUtc --nontp
user --groups=wheel --name=vagrant --password=$6$yRWFe/WY4QoScQRT$uA8mDl7ieaOMWwvgvRGZwF4eJws23ANsNCD.KbZt8Sg97rXNkhMtCs0Es7rFUMMgxr5l0F2cseJieWU8cfvGy0 --iscrypted --gecos="vagrant"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --none --initlabel

# Disk partitioning information
part /boot --fstype="ext3" --ondisk=sda --size=200
part swap --fstype="swap" --ondisk=sda --size=512
part / --fstype="xfs" --ondisk=sda --size=500 --grow

repo --name=os --baseurl=http://yum.steamworks.local/centos/7/os/x86_64/
repo --name=updates --baseurl=http://yum.steamworks.local/centos/7/updates/x86_64/
repo --name=extras --baseurl=http://yum.steamworks.local/centos/7/extras/x86_64/

%packages
@^minimal
@core
bzip2
gcc
gcc-c++
iptables-services
kernel-devel
kexec-tools
net-tools
rng-tools

-aic94xx-firmware
-alsa-firmware
-alsa-tools-firmware
-firewalld
-ivtv-firmware
-iwl1000-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
-NetworkManager-team
-NetworkManager-wifi
%end

%post
mkdir -p /home/vagrant/.ssh
echo "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key" >> /home/vagrant/.ssh/authorized_keys
chmod 0700 /home/vagrant/.ssh
chmod 0600 /home/vagrant/.ssh/authorized_keys
chown -R vagrant:vagrant /home/vagrant

cat > /etc/yum.repos.d/nginx.repo << _EOF_
[nginx]
name=nginx repo
baseurl=http://nginx.org/packages/mainline/centos/\$releasever/\$basearch/
gpgcheck=0
enabled=1
_EOF_

sed -re 's/# (%wheel.*NOPASSWD: ALL)/\1/' /etc/sudoers -i

systemctl enable rngd
%end

reboot
